<!--  <!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>My VegeTables:: Accueil</title>
		<link rel="stylesheet" href="res\styles\default\style.css" />
    <link href="res/styles/default/style.css" rel="stylesheet" type="text/css">
	</head>
	 body> -->
		<!-- Header -->
		<header>
			<div id="topheader">
				<div id="overbandeau"> <a href="index.html"><img src="res/styles/default/img/icon/logo.jpg" alt="Logo my VegeTables" title="My VegeTables" /></a>
                <div id="baseline">
                <img src="res/styles/default/img/icon/mes_tables_vegetariennes.png" alt="mes tables végétariennes" title="mes tables végétariennes"/>
                </div>
					<a id="memberlink" href="user.jsp" title="Espace abonn&eacute;">Espace abonn&eacute;</a>
                </div>
			</div>
			<nav>
				<ul>
					<li class="current"><a href="index.jsp" title="Accueil">Accueil</a></li>
					<li><a href="ListResto" title="Annuaire">Annuaire</a></li>
					<li><a href="maps.jsp" title="Maps">Maps</a></li>
					<li ><a href="contact.jsp" title="Contactez-nous">Contactez-nous</a></li>
				</ul>
			</nav>			
		
		
		